$ff-primary: 'Be Vietnam Pro', sans-serif;
$ff-body: $ff-primary;
$ff-heading: $ff-primary;

$fw-regular: 400;
$fw-semi-bold: 500;
$fw-bold: 700;

$fs-200: .813rem;
$fs-300: .875rem;
$fs-400: 1rem;
$fs-500: 1.875rem;
$fs-700: 2.5rem;
$fs-900: 3.5rem;